@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    margin-right: 18%;
    margin-left: 18%;
    border: 2px black solid;
} */

@layer base {

    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }

    .font-roboto{
        font-family: 'Roboto', sans-serif;
    }
}

